* {
    font-family: 'Playfair Display', Times, serif;
}

#map {
    max-width: 90%;
    width: 600px;
    height: 300px;
}

.w-18rem {
    width: 18rem;
}

.wh-230px {
    width: 230px;
    height: 230px;
}

.max-width-600px {
    max-width: 600px;
}

.max-width-90 {
    max-width: 90%;
}

.w-50px {
    width: 50px;
}

.w-600px {
    width: 600px;
}