body{
    background-image: url("assets/desktop-wallpaper-dark-grey-background-dark.jpeg");
}

.my-bread-crumb{
    background-color: black;
}

.ligne{
    border: solid 2px white
}


.lettre{
    height:20rem;
    width:fit-content;
   
}