.selector-for-some-widget {
    box-sizing: content-box;
  }


.nav-link {
    color: #fff;
    font-size: 1.2rem;
    text-transform: capitalize;
}

body{
    background-image: url(images/black-background.jpg);
    background-size: cover;
}

/* Path: HOME.CSS */
 .nav-link:hover {
    color: #d6580f;
    padding: 0.5rem 1rem;
    border-radius: 4px;
} 



footer li .page-link:hover{
    background-color: #d6580f !important;
    
}

footer  .icon-link-hover:hover {
    color: #d6580f !important;
}



