.selector-for-some-widget {
    box-sizing: content-box;
  }


.nav-link {
    color: #fff;
    font-size: 1.2rem;
    text-transform: capitalize;
}


 .nav-link:hover {
    color: #d6580f;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

body{
    background-image: url(images/black-background.jpg);
    background-size: contain;
    height: 100%;
}

svg {
    max-inline-size: 70%;
    block-size: auto;
  }

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.btn:hover{
    background-color: #d6580f !important;
}

footer li .page-link:hover{
    background-color: #d6580f !important;
    
}

footer  .icon-link-hover:hover {
    color: #d6580f !important;
}



