.my-custom-navbar {
    background-color: red;
  }
  .centered {
    text-align: center;
  }
  .mx-b-10 {
    margin-bottom: 10px;
  }
  .btn-primary{
    background-color: red;
  }
  .btn-primary:hover{
    background-color: black;
  }
  body{
    background-color: gainsboro
  }